body {
	background-image: url("acornphotos/IMG_1411.JPG");
	background-color: white;
	background-size: center; 
	background-repeat: no-repeat;
	background-position: center; 
}
h1 {

	font-family: 'Abril Fatface', serif;
	font-style: normal; 
	font-size: 40px;
	margin-top: 110px;
	margin-bottom: -20px;
	text-align: center;
	border-top: 4px #000 solid;
}
section {
	width:560px;
	margin:0 auto 0 auto;
}
#logo {
	/* display: inline-block; */
	float: inherit;
	margin:0 auto 0 auto;
	position: relative;
	top: 80px;
	width:792px;
}
.caption {
	font-family: 'Josefin Slab', serif;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	/*text-decoration: overline; */
	border-top: 4px #000 solid;
}
