body {
	background-image: url("acornphotos/IMG_1411.JPG");
	background-color: white;
	background-size: center; 
	background-repeat: no-repeat;
	background-position: center; 
}
h1 {

	font-family: 'Abril Fatface', serif;
	font-style: normal; 
	font-size: 40px;
	margin-top: 110px;
	margin-bottom: -20px;
	text-align: center;
	border-top: 3px #222 solid;
}
#logo {
display: inline-block;
float: inherit;
 position: relative;
    top: 80px;
    right: 40px;
}
.caption {
	font-family: 'Josefin Slab', serif;
	font-style: italic;
	font-size: 18px;
	text-align: center;
	/*text-decoration: overline; */
	border-top: 3px #222 solid;
}
