* { margin:0; padding:0; border-box:box-sizing; }

body { 
	background-color: #525a6a;
	color:white;
	font-family:helvetica, sans-serif;
	font-weight: thin;
	font-size:20px;
	 background:url("Assets/background.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 padding: 100px;
}
hr {
	width: 40px;
	/*margin-left: 8px; */
	border: 1px #FF0066 solid;
	margin:5px 0 10px 0;
}
p { margin:10px 0 10px 0; }
a {
	padding: 10px
}
section {
	margin: 20% 0 0 0;
}
img { margin:10px 0 0 0; }
#stripes {
	background:url("Assets/stripes.png") repeat-x;
	height:13px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
