body { 
	background-color: gray;
	color:white;
	font-family:helvetica;
	font-weight: thin;
	 background:url("Assets/background.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 padding: 100px;
}
hr {
	width: 40px;
	margin-right: 80px;
	margin-left: 8px;
	border: 1px #FF0066 solid;
}
a {
	padding: 10px
}
section {
	margin: 20% 0 0 0;
}
#stripes {
	background:url("Assets/stripes.png") repeat-x;
	height:13px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
